:root{
    --color-primario:#a07b71;
    --color-secundario:#ffff;
    --color-acento:#833a24;
    --color-texto:#000000;
    --color-fondo-suave:f4f7f6;
    --transition: all 0.3s ease;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-secundario);

}
header{
    background-color: var(--color-primario);
    box-shadow: 0 2px 10px rgb(0,0 0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;

}
nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
}
nav ul li a{
    color: var(--color-secundario);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: var(--transition);
}
nav ul li a:hover{
    color: var(--color-acento);
}

/* seccion hero (inicio)*/
.hero{
    position: relative;
    height: 90vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}
.hero-content{
    position: relative;
    z-index: 1;
    color: var(--color-secundario);
    text-align: center;
    padding: 0 20px;
}
.hero-content h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: var(--color-acento);
    color: var(--color-secundario);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: var(--transition);
}